* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #065c4ca0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.calculator {
  background: #000;
  border-radius: 40px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 0 40px rgba(255, 255, 255, 0.05),
    0 30px 80px rgba(255, 150, 0, 0.6);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  transition: box-shadow 0.1s ease;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  background: #505050;
}

.btn-special {
  background: #d4d4d2;
  color: #000;
}

.btn-operator {
  background: #ff9f0a;
}

.btn-equal {
  background: #ff9f0a;
}

.btn-zero {
  grid-column: span 2;
  border-radius: 35px;
  text-align: left;
  padding-left: 25px;
  background: #505050;
  color: white;
  width: 100%;
}

.btn-special,
.btn-ac {
  background: #d4d4d2;
  color: #000;
}

.display {
  width: 100%;
  text-align: right;
  color: white;
  font-size: clamp(20px, 8vw, 60px);
  font-weight: 300;
  padding: 10px 5px 20px;
  min-height: 100px;
  background: #2c2c2e;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  animation: fadeIn 0.2s ease;
}

button:active {
  filter: brightness(1.5);
}

.btn-number:active,
.btn-special:active {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.btn-operator:active,
.btn-equal:active {
  box-shadow: 0 0 20px rgba(255, 150, 0, 0.8);
}

.btn-zero:active {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
